
.w3-center 
{
    display:inline-block;
    width:auto;
    text-align:center;
}


.w3-content
{
    margin-left:auto;
    margin-right:auto;
    max-width:980px;
}


.w3-display-container
{
    position:relative;
}

.w3-display-container:hover 
{
    display:block;
}
.w3-display-container:hover 
{
    display:inline-block;
}

.mySlides 
{
    display:none;
}

.w3-button
{
    border:none;
    display:inline-block;
    padding:8px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:inherit;
    background-color:inherit;
    text-align:center;cursor:pointer;
    white-space:nowrap
}

.w3-button
{
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    width:100%;
    text-align:left;
    padding:8px 16px;
    white-space:normal;
}
.w3-button:disabled
{
    cursor:not-allowed
    ;opacity:0.3
}
.w3-button:first-child,.w3-dropdown-click:hover > .w3-button:first-child
{
    background-color:#ccc;
    color:#000;
}

.w3-button:hover
{
    color:#000!important;
    background-color:#ccc!important;
}

.w3-black
{
    color:#fff!important;
    background-color:#000!important;
}

.w3-display-left
{
    position:absolute;
    top:50%;
    left:0%;
    transform:translate(0%,-50%);
    -ms-transform:translate(-0%,-50%);
}
.w3-display-right
{
    position:absolute;
    top:50%;
    right:0%;
    transform:translate(0%,-50%);
    -ms-transform:translate(0%,-50%);
}