* 
{
    box-sizing: border-box
}

body
 {
     font-family: Verdana, sans-serif;
     margin:0;
  }


/*Parte relativa al menù */
.head
{
    z-index: 1;
    position: fixed;   
    top: 0px;
    background-color: whitesmoke;
    height: 85px;
    
    width: 100%;
    
}

/* Barra del menù con nome studio e navigazione*/
.studio-logo
{
    position: absolute;
    top: 30px;
    bottom: 20px;
    left: 20px;
    height: 30px;
    width: auto;
}
/*Nome dello studio, in cui cambiare il font del testo*/
.studio-logo>h3
{
    
    margin-top: auto;
    margin-bottom: auto;
    display: inline;
    font-family: 'Courier New', Courier, monospace;

}

/*Immagine dello studio*/
.studio-logo>img
{
    margin-top: auto;
    size: 10px;
    margin-bottom: auto;
}
/*Box per il menù di navigazione*/
.menù
{
    
    position: absolute;
    right: 20px;
    top: 30px;
    bottom: 20px;
}
/*Link del menù di navigazione*/
.menù>a
{
  
  text-decoration: none;  /*Per modificare il classico stile che ha di default a */
  color: #000;
  transition: 0.5s;
}
/*Cambio di colore quando si passa sopra i link di navigazione*/
.menù>a:hover
{
   color: royalblue;
   
}
/*Fine parte menù */


/*Inizio parte centrale*/

/*Stacco invisibile per dare spazio alle immagini*/
.bar
{
  height: 85px;
  background-color: white;
}
/*Serve per fare il carosello*/
.mySlides 
{
    display: none;
}
/*Taglia delle immagini*/
.mySlides>img 
{
    vertical-align: middle;
    height: 800px;
    width:100%;
}
/*Comparsa dei pulsanti quando si passa sopra le immagini*/
.slideshow-inner:hover ~ .prev, .slideshow-inner:hover ~ .next
{
    opacity: 1;
}

/* Slideshow container */
.slideshow-container 
{
  height: 800px;
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next
{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: red;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  opacity: 0;
}

/* Position the "next button" to the right */
.next
{
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover
{
  background-color: rgba(0,0,0,0.8);
  opacity: 1;
  
}
/*Fine parte centrale*/

/*Inizio parte finale*/
/*Box parte finale*/
.foot
{
  
  
  margin-top: 1px;
  max-height: 200px;
  display: block;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.884);
  text-align: center;
  bottom: 0px;
  
}
/* Titoli nella parte finale*/
h5 
{
  color: white;
  text-align: start;
}
/*Testo nella parte finale*/
p
{
  color:gainsboro;
} 

/*Allineamento dei vari blocchi finali*/
.member, .location
{
  display: inline-block;
  padding: 15px;
}
